# ─── Supabase ────────────────────────────────────────────────────────────────
NEXT_PUBLIC_SUPABASE_URL=https://iymlghqppenwvefzyxab.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bWxnaHFwcGVud3ZlZnp5eGFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5OTE2MjcsImV4cCI6MjA5MDU2NzYyN30.wrabGgno8RKIxkbY0lrywQIdKugBaCrAiUXzfJJszWs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bWxnaHFwcGVud3ZlZnp5eGFiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk5MTYyNywiZXhwIjoyMDkwNTY3NjI3fQ.T3xqLcCymuZxWVXpH1XsKoFBYF5k0Dp-aH8Y0qzhGsI

# ─── Fish Africa SMS ─────────────────────────────────────────────────────────
FISH_AFRICA_API_KEY=2sABU3jBlycCfpjMkypZo.lX6MrCia7n8e6YwCN_b7QNqBnHWJv3gmal3u
FISH_AFRICA_SENDER_ID=PAGEMrMusic

# ─── Resend Email ────────────────────────────────────────────────────────────
RESEND_API_KEY=re_QZVp2o88_HSrfWhSAwaiXf9x3rype85Sn
EMAIL_FROM=KillerCutz <noreply@pagekillercutz.com>

# ─── DJ contact (for internal notifications) ─────────────────────────────────
DJ_PHONE=0553018172
DJ_PHONE_2=0240639403
DJ_EMAIL=motivodps@gmail.com
NEXT_PUBLIC_DJ_MOMO=0240639403

# ─── App ─────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_SITE_URL=https://pagekillercutz.com
PORT=3000

# ─── Admin ───────────────────────────────────────────────────────────────────
# Used to authenticate internal cron → API calls
ADMIN_SECRET=pk_admin_8c01e35e93ea5f2f2585b80f16bf9df984f12f1f
NEXT_PUBLIC_ADMIN_SECRET=pk_admin_8c01e35e93ea5f2f2585b80f16bf9df984f12f1f
ADMIN_SESSION_SECRET=0f238f723b8dbd9bd705ed41a05295a607ed6454e528a58b59d102d7c9fd2fceda4d9887fe20991add6976523394b6e6fff8473c5faa27f9ccd62112603348e6

# Cloudflare R2
CLOUDFLARE_ACCOUNT_ID=380a587fe2deeb62a6608b9019657234
R2_ACCESS_KEY_ID=5e1bef210d750d2124e99753087ef0a4
R2_SECRET_ACCESS_KEY=58e3c1a856b763986b306990ed7196c69c97ab618156d875d6863374a78fd194
R2_BUCKET_NAME=pagekillercutz
R2_PUBLIC_URL=https://assets.pagekillercutz.com
